*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
}

nav {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
}

nav a, nav i {
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav i {
  padding: 10px;
}

nav i:hover {
  color: #039dff;
}

nav a:hover {
  color: #039dff;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: #039dff;
}

.wrapper {
  max-width: 2560px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.underline {
  width: 50px;
  height: 3px;
  background-color: #039dff;
  margin: 0 auto 40px auto;
}

.scroll-fix::before {
  content: '';
  display: block;
  height: 66px;
  margin-top: -66px;
}

.jumbotron {
  margin-bottom: 0;
}

.hero-section {
  height: 100vh;
  overflow: hidden;
}

.hero-section .hero-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000b9), to(#000000d8)), url("../img/hero-img-small.jpg");
  background-image: linear-gradient(#000000b9, #000000d8), url("../img/hero-img-small.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.hero-section .hero-img h1 {
  padding: 0 10px;
  font-size: 30px;
  margin-bottom: 15px;
}

.hero-section .hero-img p {
  font-size: 14px;
  padding: 0 10px;
}

.hero-section .hero-img .fa-sort-down {
  display: none;
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  color: #ffffff;
  -webkit-animation: heartBeat 1.5s infinite;
          animation: heartBeat 1.5s infinite;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.hero-section .hero-img .fa-sort-down:hover {
  color: #039dff;
}

.about-section .aboutus-hover h3 {
  font-size: 22px;
  margin-top: 20px;
}

.about-section .aboutus-hover p {
  font-size: 14px;
}

.about-section .aboutus-hover i {
  font-size: 30px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.aboutus-hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  visibility: hidden;
}

.aboutus-hover.animate__animated {
  visibility: visible;
}

.aboutus-hover:hover {
  color: #039dff;
}

.aboutus-hover:hover i {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.aboutus-img {
  overflow: hidden;
}

.aboutus-img .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000b9), to(#000000d8)), url("../img/aboutus-img.jpg");
  background-image: linear-gradient(#000000b9, #000000d8), url("../img/aboutus-img.jpg");
  background-position: center;
  background-attachment: fixed;
  padding: 60px 0;
  color: #f4f4f4;
}

.aboutus-img .jumbotron h2 {
  font-size: 32px;
}

.aboutus-img .jumbotron .aboutus-img-box {
  margin: 10px 0;
  visibility: hidden;
}

.aboutus-img .jumbotron .aboutus-img-box.animate__animated {
  visibility: visible;
}

.aboutus-img .jumbotron h3 {
  font-size: 26px;
}

.aboutus-img .jumbotron p {
  font-size: 14px;
}

.aboutus-img .jumbotron i {
  font-size: 30px;
  margin-bottom: 15px;
}

.portfolio-section .carousel-indicators {
  padding-bottom: 20px;
}

.portfolio-section .carousel-item {
  position: relative;
  height: 600px;
}

.portfolio-section .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio-section .carousel-item .carousel-caption {
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.801);
  padding: 40px 0;
}

.wrapper-card {
  margin: 0 30px;
}

.prices {
  overflow: hidden;
}

.prices .jumbotron {
  background-color: #f4f4f4;
}

.prices span {
  font-weight: bold;
}

.prices .price-info {
  margin-top: 20px;
}

.wrapper-prices {
  max-width: 2560px;
  width: 95%;
  margin: 0 auto;
}

.prices-box {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  margin: 0 10px 25px 10px;
  padding: 30px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  visibility: hidden;
}

.prices-box h3 {
  color: #039dff;
}

.prices-box i {
  font-size: 23px;
  padding: 0 5px;
}

.prices-box .price {
  font-size: 30px;
  font-weight: bold;
}

.prices-box button {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.prices-box button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.prices-box.animate__animated {
  visibility: visible;
}

.transition-div {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.transition-div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#team .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/team/team-img.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/team/team-img.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#team .jumbotron h2 {
  color: #fff;
}

#team .jumbotron .card-deck .card {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#team .jumbotron .card-deck .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#team .jumbotron .card-deck .card h5 {
  text-align: center;
  font-weight: bold;
}

#team .jumbotron .card-deck .card .card-body {
  height: 150px;
}

#team .jumbotron .card-deck .card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#team .jumbotron .card-deck .row {
  margin-left: 0;
  margin-right: 0;
}

.achiv-box {
  visibility: hidden;
}

.achiv-box i {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0 0 5px #000;
  margin-bottom: 5px;
  -webkit-transition: text-shadow 0.3s, -webkit-transform 0.3s;
  transition: text-shadow 0.3s, -webkit-transform 0.3s;
  transition: text-shadow 0.3s, transform 0.3s;
  transition: text-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.achiv-box p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.achiv-box:hover i {
  text-shadow: 0 0 15px #039dff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.achiv-box.animate__animated {
  visibility: visible;
}

#contact {
  color: #ffffff;
}

#contact .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 0, 255, 0.233)), to(rgba(0, 0, 0, 0.801))), url("../img/contact-img.jpg");
  background-image: linear-gradient(rgba(25, 0, 255, 0.233), rgba(0, 0, 0, 0.801)), url("../img/contact-img.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#contact .jumbotron .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

#contact .jumbotron .row .contact-box {
  text-align: center;
  margin-bottom: 40px;
  visibility: hidden;
}

#contact .jumbotron .row .contact-box h3 {
  font-size: 26px;
}

#contact .jumbotron .row .contact-box .links a {
  color: #ffffff;
  margin: 0 15px;
}

#contact .jumbotron .row .contact-box .links a i {
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#contact .jumbotron .row .contact-box .links a i:hover {
  color: #039dff;
}

#contact .jumbotron .row .contact-box.animate__animated {
  visibility: visible;
}

footer {
  text-align: center;
  color: #ffffff;
}

footer p {
  margin-top: 18px;
}

@media (min-width: 375px) {
  .hero-section .hero-img h1 {
    font-size: 36px;
  }
  .hero-section .hero-img p {
    font-size: 14px;
  }
}

@media (min-width: 414px) {
  .aboutus-img .jumbotron {
    padding: 80px 0;
  }
  .aboutus-img .jumbotron h2 {
    font-size: 36px;
  }
  .aboutus-img .jumbotron .aboutus-img-box {
    margin: 15px 0;
  }
  .aboutus-img .jumbotron h3 {
    font-size: 32px;
  }
  .aboutus-img .jumbotron p {
    font-size: 18px;
  }
  .aboutus-img .jumbotron i {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */