$blue-color: #039dff
    
*, *::after, *::before
    padding: 0
    margin: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    position: relative
    font-family: 'Montserrat', sans-serif
    background-color: #333333

// NAVIGATION

nav
    text-transform: uppercase
    background-color: rgba(0, 0, 0, 0.8)

    a, i
        color: #ffffff
        transition: color 0.3s

    i 
        padding: 10px

    i:hover 
        color: $blue-color

    a:hover 
        color: $blue-color

    .navbar-brand
        font-weight: bold

    .active
        color: $blue-color

// REUSABLE COMPONENTS
.wrapper 
    max-width: 2560px
    width: 80%
    text-align: center
    margin: 0 auto

.underline
    width: 50px
    height: 3px
    background-color: $blue-color
    margin: 0 auto 40px auto

.scroll-fix::before
    content: ''
    display: block
    height: 66px
    margin-top: -66px

.jumbotron
    margin-bottom: 0

// HOME

.hero-section
    height: 100vh
    overflow: hidden

    .hero-img
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100%
        width: 100%
        color: #ffffff
        background-image: linear-gradient(#000000b9, #000000d8), url('../img/hero-img-small.jpg')
        background-position: center
        background-size: cover
        background-attachment: fixed
        text-align: center

        h1
            padding: 0 10px
            font-size: 30px
            margin-bottom: 15px
        
        p 
            font-size: 14px
            padding: 0 10px

        .fa-sort-down
            display: none
            position: absolute
            bottom: 20px
            font-size: 30px
            color: #ffffff
            animation: heartBeat 1.5s infinite
            transition: color 0.3s
            cursor: pointer

        .fa-sort-down:hover
            color: $blue-color


// ABOUT US SECTION
.about-section
    .aboutus-hover
        h3
            font-size: 22px
            margin-top: 20px

        p 
            font-size: 14px

        i
            font-size: 30px
            transition: transform 0.3s

.aboutus-hover
    transform: scale(1)
    transition: color 0.3s
    visibility: hidden

.aboutus-hover.animate__animated
    visibility: visible

.aboutus-hover:hover
    color: $blue-color

.aboutus-hover:hover
    i 
        transform: scale(1.8)


.aboutus-img
    overflow: hidden

    .jumbotron
        background-image: linear-gradient(#000000b9, #000000d8), url('../img/aboutus-img.jpg')
        background-position: center
        background-attachment: fixed
        padding: 60px 0
        color: #f4f4f4

        h2 
            font-size: 32px

        .aboutus-img-box
            margin: 10px 0
            visibility: hidden

        .aboutus-img-box.animate__animated
            visibility: visible

        h3
            font-size: 26px

        p 
            font-size: 14px

        i 
            font-size: 30px
            margin-bottom: 15px


// PORTFOLIO SECTION

.portfolio-section

    .carousel-indicators
        padding-bottom: 20px  

    .carousel-item
        position: relative
        height: 600px

        img 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

        .carousel-caption
            right: 0
            left: 0
            background-color: rgba(0, 0, 0, 0.801)
            padding: 40px 0

.wrapper-card
    margin: 0 30px


// PRICES SECTION

.prices
    overflow: hidden
    
    .jumbotron
        background-color: #f4f4f4
    span 
        font-weight: bold

    .price-info
        margin-top: 20px

.wrapper-prices
    max-width: 2560px
    width: 95%
    margin: 0 auto

.prices-box
    background-color: #fff
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6)
    margin: 0 10px 25px 10px
    padding: 30px
    transition: transform 0.3s
    visibility: hidden

    h3
        color: $blue-color

    i 
        font-size: 23px
        padding: 0 5px

    .price
        font-size: 30px
        font-weight: bold
    
    button
        transition: transform 0.3s

    button:hover
        transform: scale(1.2)

.prices-box.animate__animated
    visibility: visible

.transition-div
    transition: all 0.3s

.transition-div:hover
    transform: scale(1.05)

// TEAM SECTION

#team
    .jumbotron
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/team/team-img.jpg')
        background-position: center
        background-attachment: fixed
        background-size: cover

        h2 
            color: #fff

        .card-deck

            .card
                transition: transform 0.3s

                img 
                    height: 300px
                    object-fit: cover

                h5
                    text-align: center
                    font-weight: bold

                .card-body
                    height: 150px

            .card:hover
                transform: scale(0.95)

            .row
                margin-left: 0
                margin-right: 0

// ACHIVEMENTS SECTION



.achiv-box 
    visibility: hidden

    i 
        font-size: 40px
        color: #ffffff
        text-shadow: 0 0 5px #000
        margin-bottom: 5px
        transition: text-shadow 0.3s, transform 0.3s
    
    h5 

    
    p 
        font-size: 14px
        margin-top: 10px
        margin-bottom: 30px

.achiv-box:hover
    i 
        text-shadow: 0 0 15px $blue-color
        transform: scale(1.2)


.achiv-box.animate__animated
    visibility: visible












// MEDIA QUERIES

@media (min-width: 375px)
    .hero-section
        .hero-img
            h1
                font-size: 36px

            p 
                font-size: 14px
    

@media (min-width: 414px)
    .aboutus-img
        .jumbotron
            padding: 80px 0

            h2 
                font-size: 36px

            .aboutus-img-box
                margin: 15px 0

            h3
                font-size: 32px

            p 
                font-size: 18px

            i 
                font-size: 30px
                margin-bottom: 15px