* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  background-color: #202020;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  position: relative;
  scroll-behavior: smooth;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 190px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border: none;
  background-color: #01649c;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn:hover {
  background-color: #5ca6d1;
}

h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 35px;
  font-weight: 400;
  opacity: 0;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

.row {
  width: 80%;
  max-width: 1400px;
  padding: 30px;
  margin: 0 auto;
}

.section-text {
  text-align: justify;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 50px;
  opacity: 0;
}

.scroll-fix {
  position: relative;
}

.scroll-fix::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100%;
  top: -100px;
  left: 0;
}

.bg-text {
  position: absolute;
  top: 50px;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px;
  background: transparent;
  -webkit-transition: height .3s, background .3s;
  transition: height .3s, background .3s;
  z-index: 99;
}

nav .nav-logo {
  width: 200px;
  -webkit-transform: scale(1.2) translate(100px, 0px);
          transform: scale(1.2) translate(100px, 0px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

nav .nav-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

nav .nav-button span {
  display: block;
  width: 40px;
  height: 3px;
  margin: 3px 0;
  background: #fff;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}

nav .nav-button span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
}

nav .nav-button:focus {
  outline: none;
  background: radial-gradient(#c7c7c7af, #ffffff00);
}

nav .smaller {
  -webkit-transform: scale(1) translate(0px, 0px);
          transform: scale(1) translate(0px, 0px);
}

nav .open span:nth-child(1) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateZ(405deg) translate(0px, -8px);
          transform: rotateZ(405deg) translate(0px, -8px);
}

nav .open span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  opacity: 0;
}

nav .open span:nth-child(3) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateZ(-405deg) translate(1px, 8px);
          transform: rotateZ(-405deg) translate(1px, 8px);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 32, 32, 0.9)), to(rgba(32, 32, 32, 0.711))), url(../images/menu-bg.jpg);
  background-image: linear-gradient(180deg, rgba(32, 32, 32, 0.9) 0%, rgba(32, 32, 32, 0.711) 100%), url(../images/menu-bg.jpg);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .7s, visibility .7s;
  transition: opacity .7s, visibility .7s;
  z-index: 98;
}

.menu .menu-list {
  list-style: none;
}

.menu .menu-list .menu-list-item {
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  position: relative;
}

.menu .menu-list .menu-list-item .menu-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 36px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu .menu-list .menu-list-item::after {
  content: '';
  height: 2px;
  position: absolute;
  width: 70px;
  background: #ffffff3f;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width .3s, background .3s;
  transition: width .3s, background .3s;
}

.menu .menu-list .menu-list-item:hover::after {
  width: 250%;
  background: radial-gradient(#ffffff3f, #ffffff00);
}

.menu .menu-list .menu-list-item:hover .menu-link {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.show {
  opacity: 1;
  visibility: visible;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .image-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-section .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-section .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000dc), to(#33333300));
  background: linear-gradient(#000000dc, #33333300);
  z-index: 1;
}

.hero-section .heading-box {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 30px;
  z-index: 2;
}

.hero-section .heading-box h1 {
  font-size: 45px;
  font-weight: 400;
}

.hero-section .heading-box p {
  font-size: 20px;
  width: 50%;
  margin: 30px auto;
  line-height: 130%;
  opacity: 0;
}

.hero-section .heading-box .line {
  height: 3px;
  width: 30%;
  margin: 0 auto;
  background: #fff;
  opacity: 0;
}

.buttons {
  width: 400px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
}

.about-section {
  width: 100%;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), color-stop(50.52%, rgba(32, 32, 32, 0.89)), to(#202020)), url(../images/aboutus/about-bg.jpg);
  background-image: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.89) 50.52%, #202020 100%), url(../images/aboutus/about-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-section::before {
  position: absolute;
  content: '';
  left: 0;
  height: 200px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#20202000), to(#202020));
  background: linear-gradient(#20202000, #202020);
  top: -200px;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .about-box-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.container .about-box-container .about-box {
  width: 100%;
  height: 140px;
  background-color: #333333;
  margin: 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px #0f0f0f;
          box-shadow: 0px 0px 20px #0f0f0f;
  opacity: 0;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.container .about-box-container h3 {
  position: relative;
  z-index: 1;
}

.container .about-box-container .shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: .7;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
  z-index: 0;
}

.container .about-box-container .about-box:nth-of-type(1) {
  background-image: url(../images/aboutus/traveling-large.jpg);
  background-position: center;
  background-size: cover;
}

.container .about-box-container .about-box:nth-of-type(2) {
  background-image: url(../images/aboutus/nature-large.jpg);
  background-position: center;
  background-size: cover;
}

.container .about-box-container .about-box:nth-of-type(3) {
  background-image: url(../images/aboutus/cultures-large.jpg);
  background-position: center;
  background-size: cover;
}

.container .about-box-container .about-box:hover {
  height: 300px;
}

.container .about-box-container .about-box:hover .shadow {
  opacity: .4;
}

.traveling {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), color-stop(50.52%, rgba(32, 32, 32, 0.89)), to(#202020)), url(../images/traveling/traveling-bg.jpg);
  background-image: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.89) 50.52%, #202020 100%), url(../images/traveling/traveling-bg.jpg);
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.traveling .row {
  height: 100%;
  z-index: 1;
}

.traveling .row .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.traveling .row .wrapper .text-container {
  width: 40%;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.traveling .row .wrapper .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 100%;
}

.traveling .row .wrapper .images-container .image-box {
  width: 30%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  opacity: 0;
}

.traveling .row .wrapper .images-container .image-box .shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.67)), to(rgba(255, 255, 255, 0.35)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 0.35) 100%);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .7s, visibility .7s;
  transition: opacity .7s, visibility .7s;
  z-index: 1;
}

.traveling .row .wrapper .images-container .image-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

.traveling .row .wrapper .images-container .image-box:hover .shadow {
  opacity: 0;
  visibility: hidden;
}

.traveling .row .wrapper .images-container .image-box:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.traveling .modal-gallery {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000e8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.traveling .modal-gallery .back {
  position: absolute;
  z-index: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.traveling .modal-gallery .back .image {
  position: relative;
  height: 300px;
  width: 500px;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: activeImage .3s ease-in .2s forwards;
          animation: activeImage .3s ease-in .2s forwards;
}

.traveling .modal-gallery .back .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.traveling .modal-gallery .back .image .shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  visibility: visible;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.traveling .modal-gallery .back .image:hover .shadow {
  visibility: hidden;
  opacity: 0;
}

.traveling .modal-gallery .image.active {
  height: 600px;
  width: 1000px;
  z-index: 1;
  -webkit-animation: activeImage .3s ease-in forwards;
          animation: activeImage .3s ease-in forwards;
}

.traveling .modal-gallery .image.active img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.traveling .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes activeImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes activeImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nature {
  position: relative;
  width: 100%;
  padding-top: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), color-stop(50.52%, rgba(32, 32, 32, 0.89)), to(#202020)), url(../images/nature/nature-bg.jpg);
  background-image: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.89) 50.52%, #202020 100%), url(../images/nature/nature-bg.jpg);
}

.nature .bg-text {
  top: 50px;
}

.nature .row {
  position: relative;
  z-index: 1;
}

.nature .grid-container {
  width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.nature .grid-container .grid-item {
  background-color: #000000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.nature .grid-container .grid-item img {
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: .5;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;
  transition: opacity .5s, transform .5s, -webkit-transform .5s;
}

.nature .grid-container .grid-item:hover img {
  opacity: 1;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.nature .grid-container .grid-item:nth-child(1) {
  height: 100%;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

.nature .grid-container .grid-item:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.nature .grid-container .grid-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.nature .grid-container .grid-item:nth-child(4) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

.nature .grid-container .grid-item:nth-child(5) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.nature .grid-container .grid-item:nth-child(6) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.nature .grid-container .grid-item:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.nature .grid-container .grid-item:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.nature-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000e8;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.nature-modal p {
  font-size: 24px;
  margin-top: 20px;
  font-style: italic;
}

.nature-modal img {
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nature-modal.show {
  opacity: 1;
  visibility: visible;
}

.cultures {
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), color-stop(50.52%, rgba(32, 32, 32, 0.89)), to(#202020)), url(../images/cultures/cultures-bg.jpg);
  background-image: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.89) 50.52%, #202020 100%), url(../images/cultures/cultures-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.cultures .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.cultures .row .cultures-gallery {
  width: 60%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
}

.cultures .row .cultures-gallery .gallery-image {
  background-color: #333333;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.cultures .row .cultures-gallery .gallery-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
  -webkit-transition: opacity .7s, -webkit-transform 1s;
  transition: opacity .7s, -webkit-transform 1s;
  transition: opacity .7s, transform 1s;
  transition: opacity .7s, transform 1s, -webkit-transform 1s;
}

.cultures .row .cultures-gallery .gallery-image:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.cultures .row .cultures-gallery .gallery-image:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.cultures .row .cultures-gallery .gallery-image:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.cultures .row .cultures-gallery .gallery-image:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.cultures .row .cultures-gallery .gallery-image:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / 3 / 4;
}

.cultures .row .cultures-gallery .gallery-image:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 4 / 4;
}

.cultures .row .cultures-text {
  width: 40%;
  height: 90vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cultures-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000000e8;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  z-index: 100;
}

.cultures-modal .slides-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.cultures-modal .slides-box .slide {
  display: none;
  height: 60vh;
  overflow: hidden;
}

.cultures-modal .slides-box .slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cultures-modal .slides-box a {
  position: absolute;
  font-size: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.cultures-modal .slides-box a:hover {
  color: #9c9c9c;
}

.cultures-modal .slides-box .next-slide {
  right: 0;
}

.cultures-modal .slides-box .previous-slide {
  left: 0;
}

.cultures-modal .caption-box .caption {
  font-size: 25px;
  font-style: italic;
  margin: 20px 0;
}

.cultures-modal .preview-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cultures-modal .preview-box .preview-image {
  width: 20%;
  height: 150px;
  overflow: hidden;
  background-color: #000000;
}

.cultures-modal .preview-box .preview-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.cultures-modal .preview-box .preview-image .active {
  opacity: 1;
}

.cultures-modal .preview-box .preview-image:hover img {
  opacity: 1;
}

.cultures-modal.show {
  opacity: 1;
  visibility: visible;
}

.joinus {
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), color-stop(50.52%, rgba(32, 32, 32, 0.89)), to(#202020)), url(../images/joinus/joinus-bg.jpg);
  background-image: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0.89) 50.52%, #202020 100%), url(../images/joinus/joinus-bg.jpg);
  background-size: cover;
  background-position: center;
  margin: 100px 0;
}

.joinus h3 {
  font-size: 28px;
  margin-bottom: 70px;
  opacity: 0;
}

.joinus .joinus-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  z-index: 1;
}

.joinus .joinus-wrapper .joinus-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.joinus .joinus-wrapper .socials-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.joinus .joinus-wrapper .socials-box div a {
  margin-bottom: 50px;
  opacity: 0;
}

.joinus .joinus-wrapper .socials-box div a i {
  font-size: 60px;
  color: #01649c;
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s;
  transition: color .3s, transform .3s, -webkit-transform .3s;
}

.joinus .joinus-wrapper .socials-box div a i:hover {
  color: #5ca6d1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.joinus .joinus-wrapper .contact-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.joinus .joinus-wrapper .contact-box form .text-input {
  background-color: rgba(196, 196, 196, 0.541);
  color: #ffffff;
  height: 30px;
  border-radius: 50px;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
}

.joinus .joinus-wrapper .contact-box form .text-input::-webkit-input-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.joinus .joinus-wrapper .contact-box form .text-input:-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.joinus .joinus-wrapper .contact-box form .text-input::-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.joinus .joinus-wrapper .contact-box form .text-input::placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.joinus .joinus-wrapper .contact-box form textarea {
  background-color: rgba(196, 196, 196, 0.541);
  border-radius: 20px;
  padding: 10px;
  height: 300px;
  margin-bottom: 30px;
}

.joinus .joinus-wrapper .contact-box form textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.joinus .joinus-wrapper .contact-box form textarea:-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.joinus .joinus-wrapper .contact-box form textarea::-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

.joinus .joinus-wrapper .contact-box form textarea::placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

footer {
  background-color: #1d1d1d;
}

footer .row {
  text-align: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer-wrapper p {
  margin-left: 30px;
}

.fadeInDown {
  -webkit-animation: fadeInDown .8s ease-in forwards;
          animation: fadeInDown .8s ease-in forwards;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeIn {
  -webkit-animation: fadeIn .8s ease-in forwards;
          animation: fadeIn .8s ease-in forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight .8s ease-in forwards;
          animation: fadeInRight .8s ease-in forwards;
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft .8s ease-in forwards;
          animation: fadeInLeft .8s ease-in forwards;
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.pulse {
  -webkit-animation: pulse 1s ease-in alternate;
          animation: pulse 1s ease-in alternate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 1500px) {
  .row {
    width: 90%;
  }
  .section-text {
    font-size: 18px;
  }
  .hero-section .heading-box p {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */