@media only screen and (max-width: 1200px) {
    .main-hero {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 1023px) {
    html { font-size: 18px; }

    .contact-box { letter-spacing: -1px; }

    .flip-box-front ion-icon { font-size: 80px; }

    .services-img { margin-top: 50px; }

    .gallery .grid-container { height: 600px; }

    .modal img { 
        height: 70%; 
        max-width: 85%;
    }

    .modal .landscape {
        height: auto;
        width: 90%;
    }

    .nav-hamburger,
    .nav-hamburger:link,
    .nav-hamburger:visited { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .nav-hamburger:hover,
    .nav-hamburger:active { -webkit-transform: scale(1.3); transform: scale(1.3); }

    .nav-list { display: none; }

    .nav-list.mobile {
        position: absolute;
        right: 0;
        top: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 130%;
        width: 350px;
    }

    .nav-list.mobile li {
        background-color: rgba(139, 35, 35, 0.97);
        width: 100%;
        height: 60px;
    }

    .nav-list.mobile li a {
        height: 100%;
    }

    .nav-list li a:hover,
    .nav-list li a:active { margin-top: 0; }
}

@media only screen and (max-width: 767px) {
    html { font-size: 16px; }

    .about-content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

    .box { width: 100%; }

    .gallery .grid-container { height: 450px; }

    .services { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; 
    }

    .service { width: 60%; }

    .flip-box-front ion-icon { font-size: 100px; }

    .services-img-comments { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .first-comment {
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin-top: 10%;
        -webkit-box-align: none;
        -ms-flex-align: none;
        align-items: none;
        text-align: center;
    }
    
    .second-comment {
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: none;
        -ms-flex-align: none;
        align-items: none;
        padding: 0;
        text-align: center;
    }
    
    .third-comment {
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: none;
        -ms-flex-align: none;
        align-items: none;
        padding: 0;
        text-align: center;
    }

    .realizations { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
        flex-direction: column; 
        -webkit-box-align: center; 
        -ms-flex-align: center; 
        align-items: center;
    }

    .realizations-list-box { 
        padding: 0;
        width: 80%; 
        margin-bottom: 0;
    }

    .realizations-list-box:last-child { margin-bottom: 30px; }

    .contact-row { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: auto;
     }

    .contact-box { 
        width: 50%; 
        margin: 20px 0 40px 0;
    }

    footer { height: 200px;}

    .footer-navAndLogo { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: reverse; 
        -ms-flex-direction: column-reverse; 
        flex-direction: column-reverse; 
        margin-top: 30px;
    }

    .footer-navAndLogo p { margin-bottom: 10px;}

    .copyrights { margin: 30px 0 0 0;}
}

@media only screen and (max-width: 480px) {
    .nav-list.mobile {
        width: 100%;
    }
    
    .footer-navAndLogo { 
        -webkit-box-orient: horizontal; 
        -webkit-box-direction: normal; 
        -ms-flex-direction: row; 
        flex-direction: row; 
        margin-top: 30px;
    }

    .footer-nav { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

    .footer-nav-item { padding: 0 0 5px 10px;}

    .footer-nav-item {
        margin-right: 8px;
    }

    .copyrights { margin: 15px 0 0 0;}
}

@media only screen and (max-width: 576px) {
    .btns {
        text-align: center;
    }

    header {
        background-attachment: scroll;
    }

    .services-img {
        background-attachment: scroll;
    }

    .main-hero {
        text-align: center;
    }

    .main-hero h1 {
        font-size: 220%;
    }

    .main-hero h3 {
        font-size: 130%;
    }

    .modal img { 
        height: 60%; 
        max-width: 85%;
    }

    .gallery .grid-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .gallery .grid-container .grid-item {
        height: auto;
        width: 48%;
    }
}

@media only screen and (max-width: 480px) {
    .modal img { 
        height: 60%; 
        max-width: 85%;
    }
}
