/* 
---------------------------------------------------
                BASIC CONFIG
---------------------------------------------------
*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #fff;
    font-family: 'Montserrat', 'Arial', 'sans-sefif';
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/* 
---------------------------------------------------
              REUSABLE COMPONENTS
---------------------------------------------------
*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding-top: 40px;
}

h1 {
    font-weight: 300;
    font-size: 250%;
}

h2 {
    color: #000;
    text-align: center;
    max-width: 800px;
    font-size: 170%;
    font-weight: 400;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #ff4949;
    content: '';
    width: 20%;
    margin: 30px auto 0 auto;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

h2:hover {
    color: #ff4949;
}

h2:hover::after {
    width: 50%;
}

h3 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 170%;
}

h4 {
    font-size: 150%;
    font-weight: 400;
    margin: 15px 0;
}

.btn,
.btn:link,
.btn:visited {
    padding-top: 10px;
    margin-right: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 110%;
    font-weight: 100;
    color: #fff;
    background-color: rgba(139, 35, 35, 0.75);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    border: 2px solid rgba(139, 35, 35, 0.75);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #ff4949;
    border: 2px solid #ff4949;
}

.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited {
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 110%;
    font-weight: 100;
    color: #fff;
    background-color: rgba(139, 35, 35, 0);
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    border: 2px solid rgba(139, 35, 35, 0.75);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #ff4949;
    border: 2px solid #ff4949;
}


/* 
---------------------------------------------------
                HEADER SECTION
---------------------------------------------------
*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/hero-image.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    
}

.main-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1140px;
    margin: auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navigation {
    position: fixed;
    width: 100%;
    background-color: #8b23239f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    z-index: 9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation p {
    padding-left: 30px;
    font-size: 180%;
    margin-right: auto;
}

.nav-list {
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-list li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-list li a:link,
.nav-list li a:visited {
    font-weight: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-decoration: none;
    height: 80%;
    padding: 0 35px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nav-list li a:hover,
.nav-list li a:active { -webkit-transform: scale(1.2); transform: scale(1.2); }

.nav-hamburger {
    display: none;
    height: 100%;
    font-size: 60px;
    margin-right: 10px;
    cursor: pointer;
}




/* 
---------------------------------------------------
                ABOUT SECTION
---------------------------------------------------
*/

.about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*
    flex-direction: column;
    align-items: center;
*/
}

.about h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.box {
    width: 33.3%;
    padding: 15px;
}

.icon {
    height: 100px;
    font-size: 65px;
    color: #8b2323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-transition: font-size 0.2s, color 0.2s, -webkit-box-pack 0.2s;
    transition: font-size 0.2s, color 0.2s, -webkit-box-pack 0.2s;
    transition: font-size 0.2s, justify-content 0.2s, color 0.2s;
    transition: font-size 0.2s, justify-content 0.2s, color 0.2s, -webkit-box-pack 0.2s, -ms-flex-pack 0.2s;
}

.icon:hover {
    color: #ff4949;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 90px;
/*    justify-content: center;*/
}

.box p {
    line-height: 1.4;
}


/* 
---------------------------------------------------
                GALLERY
---------------------------------------------------
*/


.gallery {
    background-color: #f4f4f4;
    margin-top: 40px;
    padding-bottom: 80px;
}

.gallery h2 {
    margin-bottom: 80px;
    margin-top: 40px;
}

.gallery .row {
    position: relative;
}

.gallery .grid-container {
    width: 100%;
    height: 700px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery .grid-container .grid-item {
    background-color: #000000;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.gallery .grid-container .grid-item img {
    height: 100%;
    width: 100%;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .5;
    -o-object-fit: fill;
    object-fit: fill;
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, transform .5s;
    transition: opacity .5s, transform .5s, -webkit-transform .5s;
}

.gallery .grid-container .grid-item:hover img {
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
}

.gallery .grid-container .grid-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.gallery .grid-container .grid-item:nth-child(2) {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

.gallery .grid-container .grid-item:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.gallery .grid-container .grid-item:nth-child(4) {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
}

.modal {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000e8;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
}

.modal .close-icon {
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 10px;
    right: 10px;
}

.modal img {
    height: 85%;
    -o-object-fit: cover;
        object-fit: cover;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}


/* 
---------------------------------------------------
                SERVICES 
---------------------------------------------------
*/



.services {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services-section h2 {
    margin-top: 40px;
    margin-bottom: 60px;
}

.service {
    background-color: transparent;
    width: 25%;
    height: 200px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.service-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.service:hover .service-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.flip-box-front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: black;
}

.flip-box-front ion-icon {
    font-size: 120px;
    color: #8b2323;
    margin-bottom: 20px;
}

.flip-box-front span {
    font-size: 130%;
}

.flip-box-back {
    background-color: #fff;
    color: #000;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-box-back p {
    font-size: 130%;
    margin-bottom: 5px;
}

.services-img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/quotes-image.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/quotes-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    height: 500px;
}

.services-img .row { height: 100%; }

.services-img-comments {
    color: #fff;
    font-style: italic;
    font-weight: 100;
    font-size: 120%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.first-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px 100px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.second-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 20px 120px 20px;
}

.third-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 100px 20px 0px 20px;
}



/* 
---------------------------------------------------
                REALIZATIONS SECTION
---------------------------------------------------
*/

.realizations-section { background-color: #fff; }

.realizations-section h2 { 
    margin-top: 40px;
    margin-bottom: 40px; 
}

.realizations { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 100%;
}

.realizations-imgs-box { 
    width: 100%; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.realizations-img {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.realizations-img img { 
    width: 100%;
    height: 100%;
    opacity: 40%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.realizations-img img:hover {
    opacity: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.realizations-imgs-up,
.realizations-imgs-middle { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

.realizations-list-box { 
    padding: 20px;
    width: 50%; 
    margin-bottom: 40px;
}

.realizations-list-box h4 {
    text-align: center;
    padding-bottom: 20px;
}

.realizations-list {
    list-style: none;
}

.realizations-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 55px;
    padding: 15px 0;
    padding-left: 15px;
    border-bottom: 1px solid #f4f4f4;
    -webkit-transition: height 0.2s, -webkit-transform 0.2s;
    transition: height 0.2s, -webkit-transform 0.2s;
    transition: height 0.2s, transform 0.2s;
    transition: height 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

.realizations-list-item:hover { -webkit-transform: translateX(-2%); transform: translateX(-2%); }

.realizations-list-item ion-icon {
    color: #8b2323;
    font-size: 130%;
    margin-right: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.realizations-list-item:hover ion-icon {
    color: #ff4949;
}



/* 
---------------------------------------------------
                CONTACT SECTION
---------------------------------------------------
*/


.contact-section { background-color: #f4f4f4; }
.contact-section h2 { margin: 30px auto; }

.contact-row {
    height: 200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.contact-box {
    height: 100%;
    width: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px;
    border-radius: 2px;
}

.contact-icon {
    color: #fff;
    font-size: 50px;
    background-color: #8b2323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 60px;
    height: 80px;
    width: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contact-box:hover .contact-icon {
    background-color: transparent;
    color: #8b2323;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}

.upper-p { margin-top: 10px; }

.contact-box p {
    font-size: 85%;
    opacity: 0;
    max-height: 0; 
    -webkit-transition: 0.3s; 
    transition: 0.3s;
}

.contact-box:hover p {
    opacity: 1;
    max-height: 40px;
}



/* 
---------------------------------------------------
                FOOOTER SECTION
---------------------------------------------------
*/



footer {
    background-color: #5d5d5d;
    height: 250px;
}

.footer-content { width: 100%; }

.footer-navAndLogo { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
    margin-top: 60px;
}

.footer-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer-nav-item { margin-right: 20px; }

.footer-nav-item a:link,
.footer-nav-item a:visited { 
    text-decoration: none; 
    color: #cccccc;
    font-size: 100%;
    font-weight: 300;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.footer-nav-item a:hover,
.footer-nav-item a:active { 
    color: #fff;
}

.footer-navAndLogo p { 
    font-size: 180%;
    color: #fff;
}

.copyrights {
    color: #cccccc;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 70%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}





/* 
---------------------------------------------------
                FOR ANIMATIONS
---------------------------------------------------
*/


.about-content,
.contact-row {
    opacity: 0;
}

.about-content.animate__animated.animate__fadeInUp,
.contact-row.animate__animated.animate__fadeIn {
    opacity: 1;
}











